*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-image: url(1827379.jpg);
    background-color: #000000;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 100%;
    height: 250px;
}


button{
    text-transform: uppercase;
    padding: 10px;
    border-radius: 8px;
    min-width: 100px;
    color: aliceblue;
    background-color: #000000;
    margin-bottom: 10px;
}

button:hover{
    background-color: aliceblue;
    transition: all 0800ms;
    color: #000000;
}